<mat-form-field
  [floatLabel]="'never'"
  [ngClass]="{ filled: selection?.length || !!selection }"
  *ngIf="!multiple"
>
  <mat-label>{{ placeholder }}</mat-label>
  <mat-select
    (blur)="onBlur()"
    [disabled]="disabled"
    (selectionChange)="onSelection($event.value)"
    [disableOptionCentering]="true"
    [(ngModel)]="selection"
  >
    <div
      perfectScrollbar
      class="custom-scroll scroll-container ps"
      [ngClass]="{ 'bg-select-box': displayLarge }"
    >
      <mat-option
        *ngFor="let option of data"
        [value]="bindKey ? option[bindKey] : option"
      >
        {{ labelKey ? option[labelKey] : option }}
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>

<mat-form-field [floatLabel]="'never'" *ngIf="multiple">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-select
    multiple
    (touch)="onTouched()"
    [disabled]="disabled"
    (selectionChange)="onSelection($event.value)"
    [(ngModel)]="selection"
  >
    <mat-select-trigger>
      {{ getFirstValue() }}
      <span *ngIf="selection?.length > 1"> (+{{ selection.length - 1 }}) </span>
    </mat-select-trigger>
    <div
      perfectScrollbar
      class="custom-scroll scroll-container ps"
      [ngClass]="{ 'bg-select-box': displayLarge }"
    >
      <mat-option
        *ngFor="let option of data"
        [value]="bindKey ? option[bindKey] : option"
      >
        {{ labelKey ? option[labelKey] : option }}
      </mat-option>
    </div>
  </mat-select>
</mat-form-field>
