@import "../../../../../styles/variables";
@import "../../../../../styles/typography";
@import "../../../../../styles/mixins";

::ng-deep {
    .mat-checkbox-mixedmark {
        background-color: $hyperlink;
        height: 3px;
    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        border: 2px solid #00B0EF;
        border-radius: 2px;
        background-color: $overlay;
    }

    .mat-checkbox-inner-container {
        margin-right: 10px;
    }
}