<div class="manage-client">
    <div class="header">
        <app-process-header [title]="messageConstants.PROCESSESS" [count]="totalLength"
        [btnTitle]="messageConstants.CREATE_NEW_PROCESS" [placeholder]="messageConstants.SEARCH_PROCESS"
        (isBtnClicked)="createProcessClicked($event)" [inputService]="_processService" *ngIf="selectedEnvironment"></app-process-header>             
    </div>
    <div class="content" *ngIf="!isDataLoading; else dataLoading">
      <div *ngIf="processList?.length > 0; else emptyScreen">
        <div class="client-wrapper">
          <div class="sort-header">
            <div class="sort-labels" (click)="changeSortOrderClicked(sortByRef.NAME)">
              {{ messageConstants.PROCESS }}
              <span class="icon-arrow_drop_down" [ngClass]="{
                  sorting: defaultSortBy.sort === sortByRef.NAME,
                  asc:
                    defaultSortBy.order === orderByRef.ASC &&
                    defaultSortBy.sort === sortByRef.NAME
                }"></span>
            </div>
            <div class="sort-labels" (click)="changeSortOrderClicked(sortByRef.DISPLAY_NAME)">
              {{ messageConstants.DISPLAY_NAME }}
              <span class="icon-arrow_drop_down" [ngClass]="{
                  sorting: defaultSortBy.sort === sortByRef.DISPLAY_NAME,
                  asc:
                    defaultSortBy.order === orderByRef.ASC &&
                    defaultSortBy.sort === sortByRef.DISPLAY_NAME
                }"></span>
            </div>
            <div class="sort-labels" (click)="changeSortOrderClicked(sortByRef.ASSEMBLY)">
              {{ messageConstants.ASSEMBLY }}
              <span class="icon-arrow_drop_down" [ngClass]="{
                sorting: defaultSortBy.sort === sortByRef.ASSEMBLY,
                asc:
                  defaultSortBy.order === orderByRef.ASC &&
                  defaultSortBy.sort === sortByRef.ASSEMBLY
              }"></span>
            </div>
            <div class="sort-labels">
              {{ messageConstants.FAILURE_FATAL }}
            </div>
            <div class="sort-labels">
              {{ messageConstants.PUBLISHED }}
            </div>
            
            <div class="sort-labels">&nbsp;</div>
            <div class="sort-labels">&nbsp;</div>
          </div>
          <div class="accordian-wrapper">
            <div perfectScrollbar class="accordian scroll-container ps">
              <mat-accordion>
                <mat-expansion-panel hideToggle="true" #matExpansionPanel
                  *ngFor="let process of processList; first as isFirst" [expanded]="isFirst" class="client-expansion-panel">
                  <mat-expansion-panel-header [collapsedHeight]="'92px'"
                    [expandedHeight]="'92px'">
                    <mat-panel-title>
                      <div class="header">
                        <div class="client-name"
                          matTooltipPosition="above" 
                          matTooltipClass="custom-tooltip" 
                          [matTooltip]="process?.name?.length > 25 ? process.name : ''">
                            {{ process.name | ellipsis: 25 }}
                            <div class="linked-arguments"><span class="icon-link"></span> {{process?.arguments?.length}} linked arguments</div>
                        </div>
                        <div class="display-name">
                            <span class="name" matTooltipPosition="above" matTooltipClass="custom-tooltip" [matTooltip]="
                            process?.displayName?.length > 30 ? process?.displayName?.name : ''
                              ">
                              {{process?.displayName ? process?.displayName : ("-" | ellipsis: 30)}}
                            </span>
                        </div>
                        <div class="assembly">
                          <div matTooltipPosition="above" matTooltipClass="custom-tooltip" 
                          [matTooltip]="process?.assembly?.length > 30 ? process?.assembly?.name : ''">
                              {{process?.assembly}}
                          </div>
                        </div>
                        <div class="failure-fatal">
                          <mat-slide-toggle [disabled]="true" [(ngModel)]="process.failureFatal"></mat-slide-toggle>
                        </div>
                        <div class="enable">
                          <mat-slide-toggle [(ngModel)]="process.isPublished" (click)="openPublishPopUp(process, $event)"></mat-slide-toggle>
                         </div>
                         <div class="action">
                           <ng-container *ngIf="matExpansionPanel.expanded">
                            <div class="icon">
                                <div class="edit" (click)="openEditProcessPopup(process, $event)"></div>
                              </div>
                              <div class="icon" (click)="openDeleteProcessPopup(process._id, $event)">
                                <div class="delete"></div>
                              </div>
                          </ng-container>
                         </div>
                        <div class="controller">
                          <span [ngClass]="
                              !matExpansionPanel.expanded ? 'icon-add' : 'icon-close'
                            " class="toggle-icon"></span>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="panel-content">
                    <div class="top-bar">
                      <div class="title argument">ARGUMENT</div>
                      <div class="title namespace">NAME SPACE</div>
                      <div class="title argument-type">ARGUMENT TYPE</div>
                      <div class="title value">VALUE</div>
                      <div class="title order">ORDER</div>
                      <div class="title action">&nbsp;</div>
                    </div>
                    <div class="middle" *ngIf="process?.arguments?.length > 0; else emptyTemplate">
                      <div class="environment-service">
                        <ul>
                          <ng-container *ngFor="let arg of getOrderedSubArguments(process.arguments); let index = index">
                          <li>
                            <div class="argument">
                              {{arg.name | ellipsis: 35 }}
                            </div>
                            <div class="namespace">
                              {{ arg?.namespace ? arg?.namespace : ("-" | ellipsis: 40) }}
                            </div>
                            <div class="argument-type">
                              {{ arg?.argumentType }}
                            </div>
                            <div class="value">
                              {{ arg?.value }}
                            </div>
                            <div class="order">
                              {{ arg?.order }}
                            </div>
                            <div class="action">
                              <div class="icon rotate-90" (click)="changeArgumentOrderClicked(process._id, process.arguments, arg, true, $event)" matTooltipPosition="above" matTooltipClass="custom-tooltip" 
                              matTooltip="Move Up">
                                <span class="icon-arrow_back"></span>
                              </div>
                              <div class="icon rotate-90" (click)="changeArgumentOrderClicked(process._id, process.arguments, arg, false, $event)" matTooltipPosition="above" matTooltipClass="custom-tooltip" 
                              matTooltip="Move Down">
                                <span class="icon-arrow_forward"></span>
                              </div>
                              <div class="icon">
                                <span class="icon-unlink" (click)="unlinkArgumentClicked($event, process, arg)"></span>
                              </div>
                            </div>
                          </li>
                          </ng-container>
                        </ul>
                      </div>
                    </div>
  
                    <ng-template #emptyTemplate>
                      <div class="bottom align-center">
                        <div class="empty-content">
                          <div class="empty-screen-wrapper">
                            <div class="title">{{ messageConstants.NO_PROCESSES }}</div>
                            <div class="sub-title">Please click on 'Link Arguments' button to link sub-arguments.</div>
                          </div>
                        </div>
                      </div>
                    </ng-template>

                    <div class="bottom">
                      <div class="add-label" (click)="openLinkArgumentsPopup(process._id, process.arguments.argumentValuesDetails)">
                        <span class="icon-link"></span>
                        <span class="label">Link a new argument </span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
        <div class="footer">
          <app-paginator class="app-paginator" #paginator [text]="messageConstants.PAGINATION_PROCESS" [length]="totalLength"
            [pageSize]="
              defaultPageLimit > totalLength ? totalLength : defaultPageLimit
            " [pageIndex]="currentPage - 1" (page)="changePageClicked($event)" (changedPageSize)="changePageSizeClicked($event)">
          </app-paginator>
        </div>
      </div>
    </div>
    <ng-template #emptyScreen>
      <ng-container *ngIf="!isSearch; else noResultScreen">
        <app-empty-screen class="app-empty-screen" [title]="messageConstants.NO_PROCESSES"
        [subTitle]="selectedEnvironment ? messageConstants.NO_PROCESSES_SUBTXT : messageConstants.NO_PROCESS_FILTER_SELECTED_SUBTXT" [emptyImg]="
            '../../../../../../assets/images/teams-tab/client-emptyScreen.svg'
          ">
        </app-empty-screen>
      </ng-container>
    </ng-template> 
    <ng-template #noResultScreen>
      <app-empty-screen class="app-empty-screen" [title]="messageConstants.NO_SEARCH_RESULTS"
        [subTitle]="messageConstants.TRY_DIFF_NAME" [emptyImg]="
          '../../../../../../assets/images/teams-tab/teams-emptyScreen.svg'
        "></app-empty-screen>
    </ng-template>
 <ng-template #dataLoading>
      <div class="data-loading">
        <app-loader></app-loader>
      </div>
    </ng-template>
  </div>