<div class="title popup-title">{{ data.title }}</div>
<form class="change-password-form" [formGroup]="changePasswordForm">
  <div class="form-group">
    <label for="current-password">Current password <span>*</span></label>
    <mat-form-field [floatLabel]="'never'">
      <input
        matInput
        class="password-text"
        [type]="hide ? 'text' : 'password'"
        placeholder="Enter current password"
        name="current_password"
        formControlName="current_password"
      />
      <span
        class="eye"
        [ngClass]="hide ? 'icon-eye-on' : 'icon-eye_off'"
        (click)="hide = !hide"
      ></span>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="new-password">New password <span>*</span></label>
    <mat-form-field [floatLabel]="'never'">
      <input
        matInput
        class="password-text"
        [type]="hide_new ? 'text' : 'password'"
        placeholder="Enter new password"
        name="new_password"
        formControlName="new_password"
      />
      <span
        class="eye"
        [ngClass]="hide_new ? 'icon-eye-on' : 'icon-eye_off'"
        (click)="hide_new = !hide_new"
      ></span>
      <mat-error
        *ngIf="
          changePasswordFormControl.new_password.touched &&
          changePasswordFormControl.new_password.invalid
        "
        class="alert alert-danger"
      >
        <mat-error
          *ngIf="changePasswordFormControl.new_password.errors.required"
          >Password is required.</mat-error
        >
        <mat-error
        *ngIf="
          changePasswordFormControl.new_password.errors.validatePassword
        "
        [innerHtml]="changePasswordConstants.PASSWORD_VALIDATION_ERROR"
        ></mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group password">
    <label for="confirm-password">Retype new password <span>*</span></label>
    <mat-form-field [floatLabel]="'never'">
      <input
        matInput
        class="password-text"
        [type]="hide_renew ? 'text' : 'password'"
        placeholder="Enter new password"
        name="confirm_password"
        formControlName="confirm_password"
      />
      <span
        class="eye"
        [ngClass]="hide_renew ? 'icon-eye-on' : 'icon-eye_off'"
        (click)="hide_renew = !hide_renew"
      ></span>
      <mat-error
        *ngIf="
          changePasswordFormControl.confirm_password.touched &&
          changePasswordFormControl.confirm_password.invalid
        "
      >
        <mat-error
          *ngIf="changePasswordFormControl.confirm_password.errors.required"
          >{{ changePasswordConstants.PASSWORD_REQUIRED_ERROR }}</mat-error
        >
        <mat-error
          *ngIf="
            changePasswordFormControl.confirm_password.errors.confirmedValidator
          "
          >{{ changePasswordConstants.PASSWORD_MATCH_ERROR }}</mat-error
        >
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <div class="buttons">
      <button
        mat-raised-button
        class="popup-btn"
        (click)="closePopup(true)"
      >
        {{ data.btnTxt }}
      </button>
      <button mat-raised-button class="popup-btn-cancel" (click)="closePopup(false)">
        {{ data.btnSubTxt }}
      </button>
    </div>
  </div>
</form>
