@import "../../../../../styles/variables";
@import "../../../../../styles/typography";
@import "../../../../../styles/mixins";

.change-password-form {
  margin-top: 20px;
  .form-group {
    margin-bottom: 0;
    @include d-flex {
      justify-content: getJustify(fs);
      align-items: getAlign(c);
    }
    label {
      @extend .labels;
      width: calc(100% - 145px);
      span {
        color: $hyperlink;
      }
    }
    .icon-eye_off {
      color: #5C648A;
    }
  }
}

.password-text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap
}

.password {
  margin-bottom: 20px !important;
}