<div class="select-wrapper">
  <app-select-box
    class="app-select-box"
    [displayLarge]="true"
    labelKey="name"
    [multiple]="true"
    [disabled]="loading.clients"
    [data]="clients"
    [placeholder]="HomeDropdownConstants.CLIENTS"
    [selection]="selectedClients"
    (selectionChange)="onClientChange($event)"
  ></app-select-box>
  <app-select-box
    class="app-select-box"
    [displayLarge]="true"
    labelKey="name"
    [multiple]="true"
    [disabled]="loading.environments"
    [data]="environments"
    [placeholder]="HomeDropdownConstants.ENVIRONMENTS"
    [selection]="selectedEnvironments"
    (selectionChange)="onEnvironmentChange($event)"
  ></app-select-box>
  <app-select-box
    class="app-select-box"
    [displayLarge]="true"
    labelKey="name"
    [multiple]="true"
    [disabled]="loading.services"
    [data]="services"
    [placeholder]="HomeDropdownConstants.SERVICES"
    [selection]="selectedServices"
    (selectionChange)="onServiceChange($event)"
  ></app-select-box>
  <button
    mat-raised-button
    class="dark-btn"
    [disabled]="
      !(
        selectedClients.length &&
        selectedEnvironments.length &&
        selectedServices.length
      )
    "
    (click)="applyFilter()"
  >
    Apply
  </button>
</div>
