<div class="entry-point-container">
  <div class="logo"></div>
  <div class="title form-title">Reset Password</div>
  <div class="labels">
    {{ changePasswordConstants.NEW_PASSWORD_MESSAGE }}
  </div>
  <div class="form-container">
    <form [formGroup]="resetPasswordForm">
      <div class="form-group">
        <mat-form-field [floatLabel]="'never'">
          <input
            matInput
            class="password-text"
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            name="password"
          />
          <span
            class="eye"
            [ngClass]="hidePassword ? 'icon-eye_off' : 'icon-eye-on'"
            (click)="hidePassword = !hidePassword"
          ></span>
          <mat-error
            *ngIf="
              resetPasswordFormControl.password.touched &&
              resetPasswordFormControl.password.invalid
            "
            class="alert alert-danger"
          >
            <mat-error *ngIf="resetPasswordFormControl.password.errors.required"
              >{{ changePasswordConstants.PASSWORD_REQUIRED_ERROR }}</mat-error
            >
            <mat-error
            *ngIf="
            resetPasswordFormControl.password.errors.validatePassword
            "
            [innerHtml]="changePasswordConstants.PASSWORD_VALIDATION_ERROR"
            ></mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group password">
        <mat-form-field [floatLabel]="'never'">
          <input
            matInput
            class="password-text"
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="confirm_password"
            placeholder="Retype new password"
            name="confirm_password"
          />
          <span
            class="eye"
            [ngClass]="hideNewPassword ? 'icon-eye_off' : 'icon-eye-on'"
            (click)="hideNewPassword = !hideNewPassword"
          ></span>
          <mat-error
            *ngIf="
              resetPasswordFormControl.confirm_password.touched &&
              resetPasswordFormControl.confirm_password.invalid
            "
          >
            <mat-error
              *ngIf="resetPasswordFormControl.confirm_password.errors.required"
              >{{ changePasswordConstants.PASSWORD_REQUIRED_ERROR }}</mat-error
            >
            <mat-error
              *ngIf="
                resetPasswordFormControl.confirm_password.errors
                  .confirmedValidator
              "
              >{{ changePasswordConstants.PASSWORD_MATCH_ERROR }}</mat-error
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttons">
        <app-button
        [btnTitle]="'Submit'"
        (isBtnClicked)="onClick($event)"
      ></app-button>
      </div>
    </form>
  </div>
</div>
