@import "../../../styles.scss";

.labels {
  margin-top: 18px;
}

.form-container {
  .form-group {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
  .buttons {
    @include d-flex {
      justify-content: getJustify(sb);
      align-items: getAlign(c);
    }
    margin-top: 20px;
    .labels {
      cursor: pointer;
    }
  }
}

.password-text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap
}

.password {
  margin-bottom: 15px !important;
}