<div class="file-process-wrapper">
  <div class="group">
    <span class="icon icon-total-files"></span>
    <div class="title">Total number of files</div>
    <div class="total">0</div>
  </div>
  <div class="group">
    <span class="icon icon-Files-done"></span>
    <div class="title">Files processed successfully</div>
    <div class="total">0</div>
  </div>
  <div class="group">
    <span class="icon icon-Files-cancel"></span>
    <div class="title">Files processed with errors</div>
    <div class="total">0</div>
  </div>
  <div class="group">
    <span class="icon icon-clock"></span>
    <div class="title">Average time taken</div>
    <div class="total">0</div>
  </div>
</div>
