.fix-tabs {
    padding: 80px 0px 0px 80px;
}
.tabs-padding {
    padding: 15px 30px 0px 20px;
    display: block;
    background: #262c3b;
}
.left-spacer{
    padding-left: 30px;
    padding-right: 30px;
}